---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BusinessIntrodution from '~/components/widgets/BusinessIntrodution.astro';

const metadata = {
  title: 'AceBridge — 擎橋企業管理諮詢有限公司',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        // variant: 'primary',
        text: '瞭解更多',
        href: '#features',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> 擎橋企業管理諮詢有限公司 </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">擎橋</span> 諮詢總部位於香港，是一家專業從事互聯網、綜合能源高端人才招聘服務的人力資源/企業諮詢服務公司，包括國央企、大型集團公司、上市公司、獨角獸企業及創新企業
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="業務流程"
    subtitle="提供 360 度全流程服務"
    items={[
      {
        title: '需求分析',
        description:
          '與客戶進行深入溝通，了解其招聘需求和職位要求。隨後，獵頭公司會對市場進行調研和分析，確保推薦的候選人符合客戶的期望和企業文化。',
        icon: 'tabler:number-1-small',
      },
      {
        title: '人才畫像',
        description:
          '通過深入了解客戶的需求和岗位要求，結合候選人的職業背景、技能和個性特點，繪製出符合客戶期望的人才畫像，助於精準匹配合適的候選人，提高招聘成功率。',
        icon: 'tabler:number-2-small',
      },
      {
        title: '人才地圖繪製',
        description: '通過分析行業和市場數據，識別並定位潛在候選人，為客戶提供精準的人才推薦。',
        icon: 'tabler:number-3-small',
      },
      {
        title: '人才搜尋與挖掘',
        description:
          '通過各種渠道（如社交媒體、專業網絡、行業會議等）主動搜尋潛在候選人，對篩選出的候選人進行深入挖掘，包括背景調查、技能評估和面試，確保其符合客戶的職位要求。',
        icon: 'tabler:number-4-small',
      },
      {
        title: '人才維護跟進',
        description:
          '通過定期與候選人保持聯繫，了解其職業發展動態，並提供職業規劃建議，確保候選人對公司的信任和滿意度。',
        icon: 'tabler:number-5-small',
      },
      {
        title: '人才背景調查',
        description:
          '核實候選人的學歷和工作經歷，確保信息的真實性。其次進行職業道德和技能評估，以保證候選人與職位要求匹配。',
        icon: 'tabler:number-6-small',
      },
      {
        title: '人才推薦跟進',
        description:
          '根據客戶需求篩選合適的候選人，並進行初步面試和評估；然後，將符合條件的人才推薦給客戶，並持續跟進候選人的面試進展和反饋，確保最終成功匹配。',
        icon: 'tabler:number-7-small',
      },
      {
        title: '人才入職跟蹤',
        description:
          '定期與新員工及其雇主進行溝通，確保雙方滿意並順利融合。此外，還會提供必要的支持和建議，幫助新員工更快適應新環境。',
        icon: 'tabler:number-8-small',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="業務範圍"
    items={[
      {
        title: '中高階人才獵尋',
        description: '幫助企業招募高級人才、 搜尋、 甄選、 評估、 推薦等服務; 妥善解決少數關鍵人才問題',
      },
      {
        title: '招聘流程外包',
        description: '為客戶帶來的價值包含提升招聘策略、優化流程、保障多快好省的招聘結果、靈活應對彈性人才需求等。',
      },
      {
        title: '靈活用工',
        description:
          '針對企業面臨人員編制緊張、 旺季人才短缺、 項用工短缺等難題，針對那些替代性、臨時性、輔助性的崗位、由專業的人力資源服務機構向客戶派駐員工。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        為企業提供全方位人才解決方案服務
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps
    title="團隊 TL 介紹"
    items={[
      {
        title: 'Belle',
        description:
          '深圳辦公室負責人：做互聯網、 金融、 智能製造等行業技術中高端崗位; 有6年以上獵頭從業經驗，過往客戶主要是字節跳動、小紅書、shopee、捷順科技等，成功職位有後台開發負責人，網路研發專家、測試總監、算法負責人；<br/>近 1 年來深耕新能源儲能行業，目前人才庫儲備人才以及能夠交付崗位有：結構電氣、PCS軟硬件、BMS軟件/系統、電力交易算法等，能夠定向公司 mapping。',
        imageSrc: '~/assets/images/people/belle.png',
      },
      {
        title: 'Amanda',
        description:
          '公司合夥人/TL：專注於職能岗位交付，包括但不限於互聯網行業、地產行業、醫療行業、智能製造業等。主要操作岗位包含HRD、財務總監、法務總監、採購總經理、供應鏈總經理等。擁有10年以上甲乙方招聘經驗。',
        imageSrc: '~/assets/images/people/amanda.png',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="代表客戶"
    subtitle="我們為多家業內頭部企業提供了高質量的服務，這些服務涵蓋了廣泛的領域，得到了客戶的一致好評。"
    items={[
      {
        title: '小红书',
        imageSrc: '~/assets/images/companys/redbook.png',
      },
      {
        title: '字节跳动',
        imageSrc: '~/assets/images/companys/bytedance.png',
      },
      {
        title: 'Shopee',
        imageSrc: '~/assets/images/companys/shopee.png',
      },
      {
        title: '捷顺科技',
        imageSrc: '~/assets/images/companys/jieshun.png',
      },
      {
        title: '星星充电',
        imageSrc: '~/assets/images/companys/starcharge.png',
      },
      {
        title: '科陆电子',
        imageSrc: '~/assets/images/companys/clou.png',
      },
      {
        title: '禾望电气',
        imageSrc: '~/assets/images/companys/hopewind.png',
      },
      {
        title: 'YOTAI',
        imageSrc: '~/assets/images/companys/yotai.png',
      },
      {
        title: '佳智能',
        imageSrc: '~/assets/images/companys/zoono.png',
      },
      {
        title: '博眾精工',
        imageSrc: '~/assets/images/companys/bozhong.png',
      },
      {
        title: '亿纬锂能',
        imageSrc: '~/assets/images/companys/eve.png',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BusinessIntrodution
    title="業務領域"
    information={`我們專注於獵聘互聯網、新能源、汽車電子行業的人才。我們的專業團隊致力於為企業提供高質量的人才解決方案，確保每一個推薦的候選人都能滿足企業的需求，並推動企業的發展。我們深知這些行業的快速變化和技術進步，因此我們不斷更新和擴展我們的候選人數據庫，以確保我們能為客戶提供最新、最合適的人才。`}
    lists={[
      {
        title: '互聯網',
        items: ['後臺開發', '前臺開發', '算法工程師', '商業化產品', 'CVM 產品', '...'],
        image: '~/assets/images/business/network.png',
      },
      {
        title: '綜合能源',
        items: ['DSP 軟件', 'BMS 軟件', 'EMS 軟件', '電氣專家', '結構負責人', '...'],
        image: '~/assets/images/business/charge.png',
      },
      {
        title: '數位化裝配',
        items: ['圖像算法', 'CT 重構算法', '海外大客戶總監', 'PM-3C 裝備', '...'],
        image: '~/assets/images/business/hardware.png',
      },
      {
        title: '硬件驅動',
        items: ['射頻專家', '嵌入式軟件', '...'],
        image: '~/assets/images/business/car.png',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="我們的優勢"
    subtitle="提供強大的人才儲備和專業的顧問團隊，專注中高端人才服務，致力於提供靠譜的職業發展建議。"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'KA  為主，專注深耕',
        description: '最大程度盘活中高人才资源，实现点、线、面、圈的人才池联动',
      },
      {
        title: '強大的人才儲備',
        description: '專注於中高端人才尋訪及儲備，並實現內部人才資源及時更新共享',
      },
      {
        title: '百万顧問帶隊',
        description: '顧問均有 5 年以上獵頭 & HR 經驗，經過系統培訓，專業化程度高，交付能力強',
      },
      {
        title: '專注於中高端人才服務',
        description: '致力於行業中高人才尋獵，能夠提供專業靠譜的職業發展規劃建議',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'E-Mail',
        href: 'mailto:belle@acebridge.co',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title"> 聯繫我們 </Fragment>

    <Fragment slot="subtitle">
      郵件: belle@acebridge.co<br />
    </Fragment>
  </CallToAction>
</Layout>
