---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';

const logoImg = '~/assets/images/logo.png';
---

<span
  class="flex items-center self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={ logoImg } alt={'logo'} width={60} height={60}/>
  &nbsp;
  {SITE?.name}
</span>
